{% extends 'base.html' %}
{% block content %}

<form action="/register/{{pet.id}}/edit" method='post'>
    <div>
        <label for="FirstName">First Name: {{pet.first_name}}</label>
        <input type="hidden" name="FirstName" value={{pet.first_name}}>
    </div>
    <div>
        <label for="LastName">Last Name</label>
        <input type="text" id="LastName" name="LastName" placeholder={{pet.last_name}} required autofocus>
    </div>
    <div>
        <label for="TypeOfPet">Type of Pet: {{pet.type_of_pet}}</label>
        <input type="hidden" name="TypeOfPet" value={{pet.type_of_pet}}>
    </div>
    <div>
        <label for="DateOfBirth">Date of Birth: {{pet.date_of_birth}}</label>
        <input type="hidden" name="DateOfBirth" value={{pet.date_of_birth}}>
    </div>
    <div>
        <label for="TreatmentNotes">Treatment Notes</label>
        <input type="text" name="TreatmentNotes" value={{pet.treatment_notes}}>
    </div>
    <div>
        <label for="Vet">Vet Assigned</label>
        <select id="vet" name="vet_id">
            {% for vet in vets %}
              <option value="{{ vet.id }}">{{ vet.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="Owner">Owner Details</label>
        <select id="owner" name="owner_id">
            {% for owner in owners %}
              <option value="{{ owner.id }}">{{ owner.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <button type="submit">Update Record</button>
    </div>
</form>

{% endblock %}