{% extends 'base.html' %}
{% block content %}

<h2>Our Pets</h2>
<div>
    <table class="register">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Type of Pet</th>
            <th>Date of Birth</th>
            <th>Treatment Notes</th>
            <th>Vet Assigned</th>
            <th>Owner</th>
        </tr>
        {% for pet in pets %}
        <tr>
            <td><a href="/register/{{pet.id}}">{{pet.first_name}}</a></td>
            <td>{{pet.last_name}}</td>
            <td>{{pet.type_of_pet}}</td>
            <td>{{pet.date_of_birth}}</td>
            <td>{{pet.treatment_notes}}</td>
            <td>{{pet.vet.name}}</td>
            <td>{{pet.owner.name}}</td>
        </tr>
        {% endfor %}     
    </table>
</div>

<button>
<a class="Thisisabutton" href="/register/new">Register New Pet</a>
</button>


<!-- {% for pet in pets %}
  <div class="pet">
    <div class="name">
      {{pet.first_name}} {{pet.last_name}} 
    </div>
    <div class="details">
        <a href="/pets/{{pet.id}}">{{pet.type_of_pet}}</a>
    </div>
    <div class="buttons">

      <form class="delete-form" action="/pets/{{pet.id}}/delete" method="POST">
        <input type="submit" value="Delete Record">
      </form>
{% endfor %}
    </div>
</div> -->

{% endblock %}