header {
    background-color: #a6a6a6;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

body {
    margin: 0;
    padding: 0;
}

header > h1 {
    margin: 25px;
    font-family: "comfortaa";
    text-align: left;
    position: relative;
    border-style: solid;
    border-width: 7px;
    border-color: #ffffff;
    background-color: #a6a6a6;
    border-radius: 14px;
    color: #ffffff;
}

header > nav > ul.menu {
    list-style-type: none;
    right: 0;
    margin: 0;
    padding: 5px;
    display: flex;
    font-size: 17px;
    justify-content: space-evenly;
    width: 500px;

}

.menu > li > button {
    border-radius: 15px;
    background-color: #ffffff;
    border-color: #ffffff;
    padding: 5px;
}

.menu > li > button > a {
    color: #a6a6a6;
    font-size: 15px;
}

footer {
    background-color: #a6a6a6;
    display: flex;
}

footer {
    justify-content: space-evenly;
    color: #ffffff;
    font-family: "comfortaa";
    display: flex;
    padding: 25px;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.register, tr, th, td {
    border: 1px solid black;
    width: 1088px;
    height: 40px;
    border-collapse: collapse;
}

.owner_register {
    border-collapse: collapse;
    font-family: "comfortaa";
}

.Thisisabutton {
    font-family: "Comfortaa";
    justify-content: flex-end;
}


/* .data {
    font-family: "comfortaa";
    
}

.table {
    width: 700px;
    font-family: "comfortaa";
} */


