{% extends 'base.html' %}
{% block content %}

<h2>Our Owners</h2>
<div>
    <table class="owner_register">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>mobile_num</th>
        </tr>
        {% for owner in owners %}
        <tr>
            <td><a href="/owners/{{owner.id}}">{{owner.name}}</a></td>
            <td>{{owner.name}}</td>
            <td>{{owner.address}}</td>
            <td>{{owner.mobile_num}}</td>
        </tr>
        {% endfor %}     
    </table>
</div>

<button>
<a class="Thisisabutton" href="/owners/new">Register New Owner</a>
</button>

{% endblock %}