<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Pet Life</title>
<header>
    <!-- <div> -->
     <h1>Pet Life</h1>
    <!-- </div> -->
    <!-- <div> -->
        <nav>
            <ul class="menu">
                <li><button><a href="/">Home</a></button></li>
                <li><button><a href="/owners">Owner Register</a></button></li>
                <li><button><a href="/register">Pet Register</a></button></li>
                <li><button><a href="/Help">Help</a></button></li>
            </ul>
        </nav>
    <!-- </div> -->
</header>
<body>
    {% block content %}

    {% endblock %}
</body>
</html>